.list-event-item{
    margin-top:0;
}
.box-comment{
    margin-top:5px; margin-bottom:5px
}
.divider-comment{
    border-bottom: 1px dashed; border-color: #d5dbe0; margin-bottom: 10px;
}
.blog-comments-content .media-heading {
    margin: -8px 0 5px 0;
}
.mainBtn{
    text-align: center;
    border-color: #d5dbe0 !important;
}

